.accordion-container{
    width: 450px;
    margin: 20px;
    
}
.accordion-item{
    background-color: var(--background-color);
    padding: 0px;
}

.accordion-button:focus {
    z-index: 0;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
 color: white !important;
}

.accordion-item h2{
    color: #ffffff !important;
}

.accordion-button{
    background-color : #c99408 !important;
    border-radius: 0px;
    color: var(--white-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px !important;
    
}

.accordion-body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: white;
}

@media (min-width: 480px) and (max-width: 1000px) {
    .accordion-container{
        width: 100%;
        margin: 20px auto;
    }
    .accordion-button{
        font-size: 12px;
        padding: 10px 20px !important;
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .accordion-container{
        width: 100%;
        margin: 20px auto;
    }

    .accordion-button{
        font-size: 14px;
        padding: 10px 20px !important;
    }
}