.main-company{
    background-color: var(--background-color);
    padding: 100px 50px 100px 50px ;
}

.company-tag h5 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: var(--text-color-two);
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding-left: 30px;
}

.company-tag h5::before {
    position: absolute;
    content: "||";
    top: 0;
    left: 0;
}

.main-content h1{
    font-family: "Cormorant Garamond", serif;
    padding-top: 20px;
    font-size: 75px;
    font-weight: 700;
    color: var(--white-color);
}

.company-box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.company{
    border: 0.5px solid #595c69;
    padding: 20px;
    width: 250px;
    height: 250px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;
}

.company img{
width: 80%;
filter: grayscale(100%);
}

.company:hover img{
    filter: grayscale(0%);
}

.company:hover{
    background-color: #2f313d96;
    transition: 0.1s ease-in;
    border: none;
}

@media (min-width: 480px) and (max-width: 1000px) {
    .company{
        width: 200px;
        height: 200px;
        margin: 10px;
      }
}

@media (min-width: 360px) and (max-width: 480px) {
    .main-company{
        padding: 100px 0px 100px 0px;
    }

    .main-company h1{
        font-size: 40px !important;
    }

    .company-tag h5{
        font-size: 20px;
      }

      .company-box{
        padding: 0px 20px 0px 20px;
        margin-top: 30px;
      }

      .company{
        width: 150px;
        height: 150px;
        margin: 10px;
      }
}