:root{
    --background-color: #64394c;
    --text-color: #858792;
    --yellow-color: #c99408;
    --hover-one: #424557cc;
    --white-color: #ffffff;
    --background-color-two: #79495e;
}


.navbar{
    background-color: var(--background-color)!important;
    padding: 10px 20px;
}

.navbar-nav{
    margin: auto;
}
.navbar-brand img{
 
}

.nav-link{
    font-size: 18px !important;
    color: var(--text-color);
    margin: 0px 20px;
    font-family: "Poppins", sans-serif;
    transition: 0.2s ease;
}

.nav-link:hover{
    color: var(--white-color);
    transition: 0.2s ease;
}

.active{
  color: var(--white-color) !important;
}

.navbar-brand{
    color: var(--white-color);   
    font-weight: bold;
}

.btn-one{
    box-shadow: none;
    border: 1px solid var(--yellow-color);
    background: transparent;
    border-radius: 50px;
    padding: 20px 50px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease;
}

.btn-one:hover{
    background-color: var(--hover-one) ;
    transition: 0.5s ease;
}
.navbar-toggler-icon{
    color: white;
}

@media (min-width: 480px) and (max-width: 1000px) {

    /* .navbar{
        width: 100%;
        padding: 30px 50px;
    } */

    /* .menu{
        border: 1px solid white;
       display: flex;
       justify-content: center;
       align-items: center;
    } */

      .btn-one{
        display: none;

      }
       
      .navbar-toggler{
          padding: 10px 20px;
          border: 2px solid var(--yellow-color);
      }

      .navbar-toggler:hover{
          border: 1px solid var(--yellow-color) !important;
      }

      .fa-bars{
           font-size: 20px;
           color: white;
      }

}

@media (min-width: 360px) and (max-width: 480px) {
    .navbar{
          padding: 20px 10px;
          background-color: #66334c !important;
        }

        .btn-one{
          display: none;
        }
         
        .navbar-toggler{
            padding: 10px 20px;
            border: 2px solid var(--yellow-color);
        }

       

        .fa-bars{
             font-size: 20px;
             color: white;
        }

        .navbar-brand{
            display: inline-block;
           width: 60%;
        }

        .navbar-brand img{
            width: 100%;
           }

           .nav-link{
            font-size: 15px !important;
            color: var(--text-color);
        }
           
}



  
  