
.main-all-work{
    background-color: var(--background-color-two);
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items{
    width: 500px;
    height: 800px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid var(--yellow-color);
    border-radius: 50px;
}


.btn-work {
    box-shadow: none;
    border: 2px solid var(--yellow-color);
    background: transparent;
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 15px;
    font-weight: 400;
    color: var(--white-color);
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease;
    transform: translateX(50%);
}

 .btn-work:hover {
    border-radius: 0px;
    background-color: var(--yellow-color);
}
.items h1{ 
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
    text-align: center;
}

.item1{
    width: 400px;
    height: 700px;
    overflow: hidden;
    padding: 30px 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    border-radius: 50px;
}
.item1 img{
    width: 400px;
    height: 500px;
    object-fit: contain;
}
.item1:hover{
    margin-top: -50px;
    transition: .3s ease;
    -webkit-box-shadow: 10px 10px 34px 1px rgba(201,148,8,1);
    -moz-box-shadow: 10px 10px 34px 1px rgba(201,148,8,1);
    box-shadow: 10px 10px 34px 1px rgba(201,148,8,1);
    cursor: pointer;
}

@media (min-width: 480px) and (max-width: 1000px) {
    .items{
        width: 400px;
        height: 600px;
        margin: 20px;
    }
}
@media (min-width: 360px) and (max-width: 480px) {

    .main-all-work{
        padding: 0px 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .items h1{ 
        font-size: 20px; 
    }

    .item1 img{
        width: 350px;
        height: 400px;
        object-fit: contain;
    }

    .item1{
        width: 300px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .items{
        width: auto;
        height: 600px;
    }

    .btn-work {
        transform: translateX(0%);
    }
    .item1:hover{
        margin: 0px;
    }

}